{% extends 'base.html' %}

{% block title %}Support{% endblock %}

{% block content %}
    <h1>Customer Support</h1>
    <div class="support-container">
        <p>If you have any questions or need support, feel free to reach out to us through any of the following channels:</p>
        <ul class="contact-list">
            <li>Email: <a href="mailto:support@example.com">support@example.com</a></li>
            <li>Facebook: <a href="https://www.facebook.com/example" target="_blank">facebook.com/example</a></li>
            <li>Instagram: <a href="https://www.instagram.com/example" target="_blank">@example</a></li>
            <li>Telephone: <a href="tel:+1234567890">+1234567890</a></li>
        </ul>
    </div>
{% endblock %}
